<%- include layout_main_header.ejs %>
<%- include layout_main_navi.ejs %>
<div class="container">
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                        Admin Area (application_layout..)
                </div>
<div>
<%- body %>
<%- include layout_main_footer.ejs %>
