<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %> - Defendtheplanet</title>
        <%- stylesheetLinkTag('bootstrap', 'application', 'bootstrap-responsive','flags') %>
        <%- javascriptIncludeTag('http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', 'bootstrap', 'rails', 'application', 'applicationNoCoffee') %>
        <%- csrfMetaTag() %>
    </head>
    <body>