 
            <hr />
            <footer>
                <p>&copy; defendtheplanet.net 2013</p>

                <!--
                <div class="container">
                    <div class="alert alert-warning">
	                    <a class="close" data-dismiss="alert">×</a>
	                        <pre>
	                            <%- JSON.stringify(request.session) %>
	                        </pre>
	                </div>
				<div>
                -->
            </footer>
            <%- contentFor('javascripts') %>
            <script data-no-instant>InstantClick.init();</script>
    </body>
</html>
